:root {
    --clr-background: #defff0
}



.uicore-navbar nav .uicore-nav {
    justify-content: end;
}

.elementor-12 .elementor-element.elementor-element-2503c45>.elementor-element-populated {
    margin-left: 80px;
}

ul.accordion-list {
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
    padding: 20px;
    margin: 0;
    list-style: none;
    background-color: #defff0;
}

ul.accordion-list .accordion_li {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden auto;
    background-color: #fff;
    padding: 20px;
    margin: 0 auto 15px auto;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
}

ul.accordion-list .accordion_li::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #eee;
    background-color: #F5F5F5;
}

ul.accordion-list .accordion_li::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

ul.accordion-list .accordion_li::-webkit-scrollbar-thumb {
    background-color: #ddd;
}

/* ul.accordion-list li.active h3:after {
    transform: rotate(45deg);
} */
ul.accordion-list .accordion_li h3 {
    font-weight: 700;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
    margin: 0;
    font-size: 15px;
    letter-spacing: 0.01em;
    cursor: pointer;
}

ul.accordion-list .accordion_li div.answer {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

ul.accordion-list .accordion_li.active {
    display: block;
}

ul.accordion-list .accordion_li {
    display: none;
}

ul.accordion-list .accordion_li.active .internal_list {
    margin: 0px;
    padding: 10px 15px;
    list-style-type: "- ";
    font-size: 14px;
}

.internal_list li {
    padding-top: 5px;
    line-height: 1.4;

}

ul.accordion-list .accordion_li div.answer p {
    position: relative;
    display: block;
    font-weight: 300;
    padding: 10px 0 0 0;
    cursor: pointer;
    line-height: 150%;
    margin: 0 0 15px 0;
    font-size: 14px;
}

.bdt-fancy-list-title {
    cursor: pointer;
}

.bdt-fancy-list-title.active {
    font-weight: 700 !important;
}


.elementor-background-overlay {
    background-color: var(--clr-background) !important;
}

.elementor-12 .elementor-element.elementor-element-cfe0451.elementor-column>.elementor-widget-wrap {
    /* justify-content: start; */
}

.elementor-12 .elementor-element.elementor-element-40354a7 {
    /* text-align: left; */
}

.grid_col_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width : 767px) {
    .grid_col_2 {
        grid-template-columns: 1fr;
    }

    .contact_us_left {
        margin-bottom: 10px;
    }

    .elementor-reverse-mobile>.elementor-container>:nth-child(2) {
        order: 9;
    }

    .elementor-reverse-mobile>.elementor-container>:first-child {
        order: 8;
    }


    .elementor-12 .elementor-element.elementor-element-2503c45>.elementor-element-populated {
        margin-left: 0px;
        padding-top: 20px;
    }

    .pt_60 {
        padding-top: 20px !important;
    }
}

.contact_us_left {
    text-align: left;
}




.form-input,
.form-textarea {
    /* width: 100%; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.form-textarea {
    /* width: 100%; */
    resize: vertical;
}

.form-button {
    width: 30%;
    display: block;
    margin-left: auto;
    padding: 15px !important;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px !important;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.form-button:hover {
    background-color: #0056b3;
}

/* Additional styling for form containers if needed */

.input-container {
    display: grid;
    margin-bottom: 15px;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.input_label_wrap {
    text-align: start;
    margin-right: 10px;
}

.input_label_wrap label {
    text-align: left;
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
}

.pt_0 {
    padding-top: 0px !important;
}

.pt_60 {
    padding-top: 60px;
}

.footer_wrap {
    color: #fff;
    padding: 25px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.rights_reserved {
    font-size: 12px;
    text-align: right
}

.footer_wrap .footer_nav_custom ul {
    display: flex;
    margin: 0px;
    align-items: center;
}

.footer_wrap .footer_nav_custom ul li {
    list-style-type: none;
    padding: 0 16px;
}


.footer_logo {
    height: 40px;
    width: 40px;
    margin-left: 15px;
    filter: invert(1);
}